src/workflows/templates/claims-follow-up.json
{
  "name": "Template: Claims Follow-Up",
  "nodes": [
    {
      "id": "trigger",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [0, 0],
      "parameters": { "rule": { "interval": [{ "field": "hours", "hoursInterval": 24 }] } },
      "typeVersion": 1
    },
    {
      "id": "config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "position": [200, 0],
      "parameters": {
        "values": {
          "touchpoints": [1, 7, 14, 30],
          "channels": ["email", "sms"],
          "escalateBelow": 3,
          "_orgId": ""
        }
      },
      "typeVersion": 1
    },
    {
      "id": "fetch_claims",
      "name": "Fetch Settled Claims",
      "type": "n8n-nodes-base.httpRequest",
      "position": [400, 0],
      "parameters": {
        "method": "POST",
        "url": "={{$env.NEXTAUTH_URL}}/api/internal/org-data",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Bearer {{$env.INTERNAL_API_KEY}}" }] },
        "sendBody": true,
        "bodyParameters": {
          "jsonBody": "{ \"orgId\": \"{{$node.Config.json.values._orgId}}\", \"dataType\": \"settled_claims\", \"filters\": { \"since\": \"{{$today.minus(30, 'days').toISODate()}}\" } }"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "match_day",
      "name": "Match Follow-Up Day",
      "type": "n8n-nodes-base.function",
      "position": [600, 0],
      "parameters": {
        "functionCode": "const claims = $input.first().json.data || [];\nconst touchpoints = $node.Config.json.values.touchpoints || [1,7,14,30];\nconst today = new Date();\nconst results = [];\n\nfor (const claim of claims) {\n  const settledDate = new Date(claim.dateOfLoss);\n  const daysSince = Math.round((today - settledDate) / (1000*60*60*24));\n  \n  for (const tp of touchpoints) {\n    if (daysSince === tp || (daysSince >= tp - 1 && daysSince <= tp + 1)) {\n      results.push({ json: { ...claim, touchpointDay: tp, daysSinceSettlement: daysSince } });\n      break;\n    }\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { _empty: true } }];"
      },
      "typeVersion": 1
    },
    {
      "id": "touchpoint_switch",
      "name": "Touchpoint Router",
      "type": "n8n-nodes-base.switch",
      "position": [800, 0],
      "parameters": {
        "dataType": "number",
        "value1": "={{$json.touchpointDay}}",
        "rules": {
          "rules": [
            { "value2": 1, "output": 0 },
            { "value2": 7, "output": 1 },
            { "value2": 14, "output": 2 },
            { "value2": 30, "output": 3 }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "day1_email",
      "name": "Day 1 - Empathy Check-in",
      "type": "n8n-nodes-base.function",
      "position": [1000, -200],
      "parameters": {
        "functionCode": "return [{ json: { ...$json, emailSubject: `Checking in after your ${$json.claimType} claim`, emailBody: `<p>Hi,</p><p>I wanted to personally check in after your recent <strong>${$json.claimType}</strong> claim. I know this can be stressful, and I want to make sure you have everything you need.</p><p>Is there anything I can help with?</p>`, smsText: `Just checking in after your ${$json.claimType} claim. Everything going okay? Reply if you need anything. —Your Agent` } }];"
      },
      "typeVersion": 1
    },
    {
      "id": "day7_email",
      "name": "Day 7 - Status Update",
      "type": "n8n-nodes-base.function",
      "position": [1000, -50],
      "parameters": {
        "functionCode": "return [{ json: { ...$json, emailSubject: `Update on your ${$json.claimType} claim`, emailBody: `<p>Hi,</p><p>I wanted to follow up on your <strong>${$json.claimType}</strong> claim. I hope the process has been smooth so far.</p><p>If you have any questions about next steps or your coverage, I'm here to help.</p>` } }];"
      },
      "typeVersion": 1
    },
    {
      "id": "day14_survey",
      "name": "Day 14 - Satisfaction Survey",
      "type": "n8n-nodes-base.function",
      "position": [1000, 100],
      "parameters": {
        "functionCode": "return [{ json: { ...$json, emailSubject: 'How did we do? Quick feedback on your claim experience', emailBody: `<p>Hi,</p><p>Your <strong>${$json.claimType}</strong> claim has been settled, and I'd love to hear how the experience was.</p><p>Could you take 30 seconds to rate your experience? Your feedback helps us serve you better.</p><p><a href='#'>⭐ Rate 1-5</a></p>`, smsText: `How was your claim experience? Reply with a number 1-5 (5 = excellent). Your feedback matters! —Your Agent` } }];"
      },
      "typeVersion": 1
    },
    {
      "id": "day30_review",
      "name": "Day 30 - Coverage Review Offer",
      "type": "n8n-nodes-base.function",
      "position": [1000, 250],
      "parameters": {
        "functionCode": "return [{ json: { ...$json, emailSubject: `Let's make sure you're fully protected after your ${$json.claimType} claim`, emailBody: `<p>Hi,</p><p>Now that your <strong>${$json.claimType}</strong> claim is behind you, I'd like to offer a complimentary coverage review.</p><p>After a claim, it's a great time to make sure your limits, deductibles, and endorsements are still right for your situation.</p><p>Would you like to schedule a quick 15-minute review?</p>` } }];"
      },
      "typeVersion": 1
    },
    {
      "id": "send_email",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "position": [1200, 0],
      "parameters": {
        "sendTo": "={{$json.email || ''}}",
        "subject": "={{$json.emailSubject}}",
        "message": "={{$json.emailBody}}"
      },
      "credentials": { "gmailOAuth2": { "id": "", "name": "Gmail" } },
      "typeVersion": 2
    },
    {
      "id": "send_sms",
      "name": "Send SMS",
      "type": "n8n-nodes-base.twilio",
      "position": [1200, 200],
      "parameters": {
        "from": "={{$env.TWILIO_FROM_NUMBER}}",
        "to": "={{$json.phone || ''}}",
        "message": "={{$json.smsText || ''}}"
      },
      "credentials": { "twilioApi": { "id": "", "name": "Twilio" } },
      "typeVersion": 1
    },
    {
      "id": "aggregate",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.function",
      "position": [1400, 0],
      "parameters": {
        "functionCode": "const items = $input.all();\nreturn [{ json: { summary: `Processed ${items.length} claims follow-ups`, count: items.length, status: 'success' } }];"
      },
      "typeVersion": 1
    },
    {
      "id": "callback",
      "name": "Callback",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1600, 0],
      "parameters": {
        "method": "POST",
        "url": "",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "x-webhook-signature", "value": "" }] },
        "sendBody": true,
        "bodyParameters": { "jsonBody": "={{JSON.stringify({ status: 'success', summary: $json.summary, data: { claimsProcessed: $json.count } })}}" }
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Daily Schedule": { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Config": { "main": [[{ "node": "Fetch Settled Claims", "type": "main", "index": 0 }]] },
    "Fetch Settled Claims": { "main": [[{ "node": "Match Follow-Up Day", "type": "main", "index": 0 }]] },
    "Match Follow-Up Day": { "main": [[{ "node": "Touchpoint Router", "type": "main", "index": 0 }]] },
    "Touchpoint Router": { "main": [
      [{ "node": "Day 1 - Empathy Check-in", "type": "main", "index": 0 }],
      [{ "node": "Day 7 - Status Update", "type": "main", "index": 0 }],
      [{ "node": "Day 14 - Satisfaction Survey", "type": "main", "index": 0 }],
      [{ "node": "Day 30 - Coverage Review Offer", "type": "main", "index": 0 }]
    ]},
    "Day 1 - Empathy Check-in": { "main": [[{ "node": "Send Email", "type": "main", "index": 0 }, { "node": "Send SMS", "type": "main", "index": 0 }]] },
    "Day 7 - Status Update": { "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]] },
    "Day 14 - Satisfaction Survey": { "main": [[{ "node": "Send Email", "type": "main", "index": 0 }, { "node": "Send SMS", "type": "main", "index": 0 }]] },
    "Day 30 - Coverage Review Offer": { "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]] },
    "Send Email": { "main": [[{ "node": "Aggregate Results", "type": "main", "index": 0 }]] },
    "Send SMS": { "main": [[{ "node": "Aggregate Results", "type": "main", "index": 0 }]] },
    "Aggregate Results": { "main": [[{ "node": "Callback", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true, "callerPolicy": "workflowsFromSameOwner" }
}
