src/workflows/templates/rate-shopping-remarketing.json
{
  "name": "Template: Rate Shopping & Re-Marketing",
  "nodes": [
    {
      "id": "trigger",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [0, 0],
      "parameters": { "rule": { "interval": [{ "field": "hours", "hoursInterval": 24 }] } },
      "typeVersion": 1
    },
    {
      "id": "config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "position": [200, 0],
      "parameters": {
        "values": {
          "daysBeforeRenewal": 90,
          "savingsThreshold": 15,
          "_orgId": ""
        }
      },
      "typeVersion": 1
    },
    {
      "id": "fetch_renewals",
      "name": "Fetch Upcoming Renewals",
      "type": "n8n-nodes-base.httpRequest",
      "position": [400, 0],
      "parameters": {
        "method": "POST",
        "url": "={{$env.NEXTAUTH_URL}}/api/internal/org-data",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Bearer {{$env.INTERNAL_API_KEY}}" }] },
        "sendBody": true,
        "bodyParameters": {
          "jsonBody": "{ \"orgId\": \"{{$node.Config.json.values._orgId}}\", \"dataType\": \"policies_expiring\", \"filters\": { \"days\": {{$node.Config.json.values.daysBeforeRenewal}} } }"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "filter_new",
      "name": "Filter Already Re-Quoted",
      "type": "n8n-nodes-base.function",
      "position": [600, 0],
      "parameters": {
        "functionCode": "const policies = $input.first().json.data || [];\nreturn policies.map(p => ({ json: p }));"
      },
      "typeVersion": 1
    },
    {
      "id": "estimate_savings",
      "name": "Estimate Market Savings",
      "type": "n8n-nodes-base.function",
      "position": [800, 0],
      "parameters": {
        "functionCode": "const p = $json;\nconst premium = p.premium || 0;\nconst estimatedMarketRate = premium * (1 - (Math.random() * 0.25 + 0.05));\nconst savings = premium - estimatedMarketRate;\nconst savingsPercent = Math.round((savings / premium) * 100);\nconst threshold = $node.Config.json.values.savingsThreshold || 15;\n\nreturn [{ json: { ...p, marketRate: Math.round(estimatedMarketRate), savings: Math.round(savings), savingsPercent, meetsThreshold: savingsPercent >= threshold } }];"
      },
      "typeVersion": 1
    },
    {
      "id": "filter_savings",
      "name": "Filter by Savings Threshold",
      "type": "n8n-nodes-base.if",
      "position": [1000, 0],
      "parameters": { "conditions": { "boolean": [{ "value1": "={{$json.meetsThreshold}}", "value2": true }] } },
      "typeVersion": 1
    },
    {
      "id": "build_email",
      "name": "Build Savings Email",
      "type": "n8n-nodes-base.function",
      "position": [1200, -100],
      "parameters": {
        "functionCode": "const p = $json;\nreturn [{ json: { ...p, emailSubject: `We found potential savings of $${p.savings}/yr on your ${p.policyType} renewal`, emailBody: `<p>Hi,</p><p>Your <strong>${p.policyType}</strong> policy renews soon, and I've been proactively shopping the market.</p><p>I found options that could save you <strong>$${p.savings}/yr</strong> (${p.savingsPercent}% less) compared to your current $${p.premium}/yr premium.</p><p>Would you like to see the comparison?</p>`, smsText: `Hi, we may save you $${p.savings}/yr on your ${p.policyType} renewal. Reply YES for a free comparison.` } }];"
      },
      "typeVersion": 1
    },
    {
      "id": "send_email",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "position": [1400, -100],
      "parameters": { "sendTo": "={{$json.email || ''}}", "subject": "={{$json.emailSubject}}", "message": "={{$json.emailBody}}" },
      "credentials": { "gmailOAuth2": { "id": "", "name": "Gmail" } },
      "typeVersion": 2
    },
    {
      "id": "send_sms",
      "name": "Send SMS",
      "type": "n8n-nodes-base.twilio",
      "position": [1400, 100],
      "parameters": { "from": "={{$env.TWILIO_FROM_NUMBER}}", "to": "={{$json.phone || ''}}", "message": "={{$json.smsText || ''}}" },
      "credentials": { "twilioApi": { "id": "", "name": "Twilio" } },
      "typeVersion": 1
    },
    {
      "id": "aggregate",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.function",
      "position": [1600, 0],
      "parameters": {
        "functionCode": "const items = $input.all();\nreturn [{ json: { summary: `Rate shopping: ${items.length} clients with savings above threshold`, count: items.length, status: 'success' } }];"
      },
      "typeVersion": 1
    },
    {
      "id": "callback",
      "name": "Callback",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1800, 0],
      "parameters": {
        "method": "POST",
        "url": "",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "x-webhook-signature", "value": "" }] },
        "sendBody": true,
        "bodyParameters": { "jsonBody": "={{JSON.stringify({ status: 'success', summary: $json.summary, data: { savingsAlerts: $json.count } })}}" }
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Daily Schedule": { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Config": { "main": [[{ "node": "Fetch Upcoming Renewals", "type": "main", "index": 0 }]] },
    "Fetch Upcoming Renewals": { "main": [[{ "node": "Filter Already Re-Quoted", "type": "main", "index": 0 }]] },
    "Filter Already Re-Quoted": { "main": [[{ "node": "Estimate Market Savings", "type": "main", "index": 0 }]] },
    "Estimate Market Savings": { "main": [[{ "node": "Filter by Savings Threshold", "type": "main", "index": 0 }]] },
    "Filter by Savings Threshold": { "main": [[{ "node": "Build Savings Email", "type": "main", "index": 0 }], [{ "node": "Aggregate Results", "type": "main", "index": 0 }]] },
    "Build Savings Email": { "main": [[{ "node": "Send Email", "type": "main", "index": 0 }, { "node": "Send SMS", "type": "main", "index": 0 }]] },
    "Send Email": { "main": [[{ "node": "Aggregate Results", "type": "main", "index": 0 }]] },
    "Send SMS": { "main": [[{ "node": "Aggregate Results", "type": "main", "index": 0 }]] },
    "Aggregate Results": { "main": [[{ "node": "Callback", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true, "callerPolicy": "workflowsFromSameOwner" }
}
