src/workflows/templates/renewal-campaign.json
{
  "name": "Template: Renewal Campaign",
  "nodes": [
    {
      "id": "trigger",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [0, 0],
      "parameters": { "rule": { "interval": [{ "field": "hours", "hoursInterval": 24 }] } },
      "typeVersion": 1
    },
    {
      "id": "config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "position": [200, 0],
      "parameters": {
        "values": {
          "touchpoints": [60, 45, 30, 14, 7],
          "channels": ["email", "sms"],
          "_orgId": "",
          "emailSubject": "",
          "emailBody": "",
          "smsBody": ""
        }
      },
      "typeVersion": 1
    },
    {
      "id": "fetch_policies",
      "name": "Fetch Expiring Policies",
      "type": "n8n-nodes-base.httpRequest",
      "position": [400, 0],
      "parameters": {
        "method": "POST",
        "url": "={{$env.NEXTAUTH_URL}}/api/internal/org-data",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Bearer {{$env.INTERNAL_API_KEY}}" }] },
        "sendBody": true,
        "bodyParameters": {
          "jsonBody": "{ \"orgId\": \"{{$node.Config.json.values._orgId}}\", \"dataType\": \"policies_expiring\", \"filters\": { \"days\": 60 } }"
        },
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "typeVersion": 1
    },
    {
      "id": "match_touchpoints",
      "name": "Match Touchpoints",
      "type": "n8n-nodes-base.function",
      "position": [600, 0],
      "parameters": {
        "functionCode": "const policies = $input.first().json.data || [];\nconst touchpoints = $node.Config.json.values.touchpoints || [60,45,30,14,7];\nconst today = new Date();\nconst results = [];\n\nfor (const policy of policies) {\n  const expDate = new Date(policy.expirationDate);\n  const daysUntil = Math.round((expDate - today) / (1000*60*60*24));\n  \n  for (const tp of touchpoints) {\n    if (daysUntil === tp || (daysUntil >= tp - 1 && daysUntil <= tp + 1)) {\n      results.push({ json: { ...policy, touchpointDay: tp, daysUntilExpiry: daysUntil } });\n      break;\n    }\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { _empty: true, count: 0 } }];"
      },
      "typeVersion": 1
    },
    {
      "id": "skip_empty",
      "name": "Skip If Empty",
      "type": "n8n-nodes-base.if",
      "position": [800, 0],
      "parameters": { "conditions": { "boolean": [{ "value1": "={{$json._empty}}", "value2": true, "operation": "notEqual" }] } },
      "typeVersion": 1
    },
    {
      "id": "build_content",
      "name": "Build Personalized Content",
      "type": "n8n-nodes-base.function",
      "position": [1000, 0],
      "parameters": {
        "functionCode": "const config = $node.Config.json.values;\nconst p = $json;\nconst subject = (config.emailSubject || 'Your {{policy_type}} policy renews soon')\n  .replace(/\\{\\{client_name\\}\\}/g, p.clientName || '')\n  .replace(/\\{\\{policy_type\\}\\}/g, p.policyType || '')\n  .replace(/\\{\\{expiration_date\\}\\}/g, p.expirationDate || '');\nconst body = (config.emailBody || '<p>Your policy expires soon.</p>')\n  .replace(/\\{\\{client_name\\}\\}/g, p.clientName || '')\n  .replace(/\\{\\{policy_type\\}\\}/g, p.policyType || '')\n  .replace(/\\{\\{expiration_date\\}\\}/g, p.expirationDate || '')\n  .replace(/\\{\\{premium_amount\\}\\}/g, '$' + (p.premium || 0));\nconst sms = (config.smsBody || 'Your policy renews soon.')\n  .replace(/\\{\\{client_name\\}\\}/g, p.clientName || '')\n  .replace(/\\{\\{policy_type\\}\\}/g, p.policyType || '');\nreturn [{ json: { ...p, emailSubject: subject, emailBody: body, smsText: sms } }];"
      },
      "typeVersion": 1
    },
    {
      "id": "send_email",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "position": [1200, -100],
      "parameters": {
        "sendTo": "={{$json.email}}",
        "subject": "={{$json.emailSubject}}",
        "message": "={{$json.emailBody}}",
        "options": {}
      },
      "credentials": { "gmailOAuth2": { "id": "", "name": "Gmail" } },
      "typeVersion": 2
    },
    {
      "id": "send_sms",
      "name": "Send SMS",
      "type": "n8n-nodes-base.twilio",
      "position": [1200, 100],
      "parameters": {
        "from": "={{$env.TWILIO_FROM_NUMBER}}",
        "to": "={{$json.phone}}",
        "message": "={{$json.smsText}}"
      },
      "credentials": { "twilioApi": { "id": "", "name": "Twilio" } },
      "typeVersion": 1
    },
    {
      "id": "aggregate",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.function",
      "position": [1400, 0],
      "parameters": {
        "functionCode": "const items = $input.all();\nconst emailsSent = items.filter(i => i.json.emailSubject).length;\nconst smsSent = items.filter(i => i.json.smsText).length;\nreturn [{ json: { summary: `Sent ${emailsSent} emails and ${smsSent} SMS for ${items.length} policies`, emailsSent, smsSent, policiesProcessed: items.length, status: 'success' } }];"
      },
      "typeVersion": 1
    },
    {
      "id": "callback",
      "name": "Callback",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1600, 0],
      "parameters": {
        "method": "POST",
        "url": "",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "x-webhook-signature", "value": "" }] },
        "sendBody": true,
        "bodyParameters": { "jsonBody": "={{JSON.stringify({ status: 'success', summary: $json.summary, data: { emailsSent: $json.emailsSent, smsSent: $json.smsSent, policiesProcessed: $json.policiesProcessed } })}}" },
        "options": {}
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Daily Schedule": { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Config": { "main": [[{ "node": "Fetch Expiring Policies", "type": "main", "index": 0 }]] },
    "Fetch Expiring Policies": { "main": [[{ "node": "Match Touchpoints", "type": "main", "index": 0 }]] },
    "Match Touchpoints": { "main": [[{ "node": "Skip If Empty", "type": "main", "index": 0 }]] },
    "Skip If Empty": { "main": [[{ "node": "Build Personalized Content", "type": "main", "index": 0 }], [{ "node": "Aggregate Results", "type": "main", "index": 0 }]] },
    "Build Personalized Content": { "main": [[{ "node": "Send Email", "type": "main", "index": 0 }, { "node": "Send SMS", "type": "main", "index": 0 }]] },
    "Send Email": { "main": [[{ "node": "Aggregate Results", "type": "main", "index": 0 }]] },
    "Send SMS": { "main": [[{ "node": "Aggregate Results", "type": "main", "index": 0 }]] },
    "Aggregate Results": { "main": [[{ "node": "Callback", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true, "callerPolicy": "workflowsFromSameOwner" }
}
