src/workflows/templates/win-back-campaign.json
{
  "name": "Template: Win-Back Campaign",
  "nodes": [
    {
      "id": "trigger",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [0, 0],
      "parameters": { "rule": { "interval": [{ "field": "hours", "hoursInterval": 24 }] } },
      "typeVersion": 1
    },
    {
      "id": "config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "position": [200, 0],
      "parameters": {
        "values": {
          "touchpoints": [1, 7, 14, 30, 60],
          "channels": ["email", "sms"],
          "autoRequote": true,
          "_orgId": ""
        }
      },
      "typeVersion": 1
    },
    {
      "id": "fetch_lapsed",
      "name": "Fetch Lapsed Policies",
      "type": "n8n-nodes-base.httpRequest",
      "position": [400, 0],
      "parameters": {
        "method": "POST",
        "url": "={{$env.NEXTAUTH_URL}}/api/internal/org-data",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Bearer {{$env.INTERNAL_API_KEY}}" }] },
        "sendBody": true,
        "bodyParameters": {
          "jsonBody": "{ \"orgId\": \"{{$node.Config.json.values._orgId}}\", \"dataType\": \"lapsed_policies\", \"filters\": { \"daysAgo\": 60 } }"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "match_touchpoint",
      "name": "Match Win-Back Touchpoint",
      "type": "n8n-nodes-base.function",
      "position": [600, 0],
      "parameters": {
        "functionCode": "const policies = $input.first().json.data || [];\nconst touchpoints = $node.Config.json.values.touchpoints || [1,7,14,30,60];\nconst today = new Date();\nconst results = [];\n\nfor (const policy of policies) {\n  const lapseDate = new Date(policy.expirationDate);\n  const daysSince = Math.round((today - lapseDate) / (1000*60*60*24));\n  \n  for (const tp of touchpoints) {\n    if (daysSince >= tp - 1 && daysSince <= tp + 1) {\n      results.push({ json: { ...policy, touchpointDay: tp, daysSinceLapse: daysSince } });\n      break;\n    }\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { _empty: true } }];"
      },
      "typeVersion": 1
    },
    {
      "id": "touchpoint_switch",
      "name": "Touchpoint Router",
      "type": "n8n-nodes-base.switch",
      "position": [800, 0],
      "parameters": {
        "dataType": "number",
        "value1": "={{$json.touchpointDay}}",
        "rules": {
          "rules": [
            { "value2": 1, "output": 0 },
            { "value2": 7, "output": 1 },
            { "value2": 14, "output": 2 },
            { "value2": 30, "output": 3 },
            { "value2": 60, "output": 4 }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "day1",
      "name": "Day 1 - We Miss You",
      "type": "n8n-nodes-base.function",
      "position": [1000, -200],
      "parameters": {
        "functionCode": "return [{ json: { ...$json, emailSubject: `We miss you — your ${$json.policyType} coverage has lapsed`, emailBody: `<p>Hi,</p><p>I noticed your <strong>${$json.policyType}</strong> policy is no longer active. Going without coverage can leave you exposed to significant risk.</p><p>I'd love the chance to help you get covered again. It only takes a few minutes.</p>` } }];"
      },
      "typeVersion": 1
    },
    {
      "id": "day7",
      "name": "Day 7 - SMS Alert",
      "type": "n8n-nodes-base.function",
      "position": [1000, -50],
      "parameters": {
        "functionCode": "return [{ json: { ...$json, smsText: `Hi, your ${$json.policyType} coverage has lapsed. We can get you covered again in minutes — reply YES or call us.` } }];"
      },
      "typeVersion": 1
    },
    {
      "id": "day14",
      "name": "Day 14 - Re-Quote Offer",
      "type": "n8n-nodes-base.function",
      "position": [1000, 100],
      "parameters": {
        "functionCode": "return [{ json: { ...$json, emailSubject: `New rates available for your ${$json.policyType} coverage`, emailBody: `<p>Hi,</p><p>Rates may have changed since your <strong>${$json.policyType}</strong> policy lapsed. I've pulled fresh quotes and found competitive options.</p><p>Would you like me to send you a comparison? No obligation — just an honest look at your options.</p>` } }];"
      },
      "typeVersion": 1
    },
    {
      "id": "day30",
      "name": "Day 30 - Urgency",
      "type": "n8n-nodes-base.function",
      "position": [1000, 250],
      "parameters": {
        "functionCode": "return [{ json: { ...$json, emailSubject: `Important: Your ${$json.policyType} coverage gap is growing`, emailBody: `<p>Hi,</p><p>It's been 30 days without <strong>${$json.policyType}</strong> coverage. Every day without insurance increases your exposure.</p><p>I can have you covered again today. Would you like me to run some numbers?</p>` } }];"
      },
      "typeVersion": 1
    },
    {
      "id": "day60",
      "name": "Day 60 - Final Touch",
      "type": "n8n-nodes-base.function",
      "position": [1000, 400],
      "parameters": {
        "functionCode": "return [{ json: { ...$json, smsText: `Hi, it's been 60 days without ${$json.policyType} coverage. We're still here if you need us. Reply YES anytime.` } }];"
      },
      "typeVersion": 1
    },
    {
      "id": "send_email",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "position": [1200, 0],
      "parameters": { "sendTo": "={{$json.email || ''}}", "subject": "={{$json.emailSubject || ''}}", "message": "={{$json.emailBody || ''}}" },
      "credentials": { "gmailOAuth2": { "id": "", "name": "Gmail" } },
      "typeVersion": 2
    },
    {
      "id": "send_sms",
      "name": "Send SMS",
      "type": "n8n-nodes-base.twilio",
      "position": [1200, 200],
      "parameters": { "from": "={{$env.TWILIO_FROM_NUMBER}}", "to": "={{$json.phone || ''}}", "message": "={{$json.smsText || ''}}" },
      "credentials": { "twilioApi": { "id": "", "name": "Twilio" } },
      "typeVersion": 1
    },
    {
      "id": "aggregate",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.function",
      "position": [1400, 0],
      "parameters": {
        "functionCode": "const items = $input.all();\nreturn [{ json: { summary: `Win-back outreach: ${items.length} lapsed clients contacted`, count: items.length, status: 'success' } }];"
      },
      "typeVersion": 1
    },
    {
      "id": "callback",
      "name": "Callback",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1600, 0],
      "parameters": {
        "method": "POST",
        "url": "",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "x-webhook-signature", "value": "" }] },
        "sendBody": true,
        "bodyParameters": { "jsonBody": "={{JSON.stringify({ status: 'success', summary: $json.summary, data: { clientsContacted: $json.count } })}}" }
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Daily Schedule": { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Config": { "main": [[{ "node": "Fetch Lapsed Policies", "type": "main", "index": 0 }]] },
    "Fetch Lapsed Policies": { "main": [[{ "node": "Match Win-Back Touchpoint", "type": "main", "index": 0 }]] },
    "Match Win-Back Touchpoint": { "main": [[{ "node": "Touchpoint Router", "type": "main", "index": 0 }]] },
    "Touchpoint Router": { "main": [
      [{ "node": "Day 1 - We Miss You", "type": "main", "index": 0 }],
      [{ "node": "Day 7 - SMS Alert", "type": "main", "index": 0 }],
      [{ "node": "Day 14 - Re-Quote Offer", "type": "main", "index": 0 }],
      [{ "node": "Day 30 - Urgency", "type": "main", "index": 0 }],
      [{ "node": "Day 60 - Final Touch", "type": "main", "index": 0 }]
    ]},
    "Day 1 - We Miss You": { "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]] },
    "Day 7 - SMS Alert": { "main": [[{ "node": "Send SMS", "type": "main", "index": 0 }]] },
    "Day 14 - Re-Quote Offer": { "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]] },
    "Day 30 - Urgency": { "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]] },
    "Day 60 - Final Touch": { "main": [[{ "node": "Send SMS", "type": "main", "index": 0 }]] },
    "Send Email": { "main": [[{ "node": "Aggregate Results", "type": "main", "index": 0 }]] },
    "Send SMS": { "main": [[{ "node": "Aggregate Results", "type": "main", "index": 0 }]] },
    "Aggregate Results": { "main": [[{ "node": "Callback", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true, "callerPolicy": "workflowsFromSameOwner" }
}
